<!doctype html>
<html lang="en">
    <head>    

        <title>{{ if .Title }}{{ $.Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <meta name="description" content="{{ .Params.excerpt | default .Site.Params.description }}"/>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,400i,700,700i&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        {{ if .Site.Params.favicon }}
        <link rel="icon" href="{{ $.Site.Params.favicon | relURL }}">
        {{ end }}

        <title>
            {{ if .Params.seo.title }}
                {{ $.Params.seo.title }}
            {{ else }}
                {{ print $.Title " | " $.Site.Title }}
            {{ end }}
        </title>
        <meta name="description" content="{{ .Params.seo.description | default "" }}" />
        {{ if .Params.seo.robots }}
        <meta name="robots" content="{{ delimit $.Params.seo.robots " ," }}">
        {{ end }}
        {{ range $meta := .Params.seo.extra }}
            {{ $key_name := $meta.keyName | default "name" }}
            {{ if $meta.relativeUrl }}
                {{ if $.Site.Params.domain }}
                {{ $domain := $.Site.Params.domain }}
                {{ $rel_url := $meta.value | relURL }}
                {{ $full_url := print $domain $rel_url }}
                <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $full_url }}">
                {{ end }}
            {{ else }}
            <meta {{ $key_name }}="{{ $meta.name }}" content="{{ $meta.value }}">
        {{ end }}
        {{ end }}

        
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.color_scheme }} accent-{{ .Site.Params.accent_color }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
